screenshot.png
screenshot.png.png
testfile.png
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/imblur
build/Makefile
build/rules.ninja
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.2/CMakeCCompiler.cmake
build/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.2/CMakeSystem.cmake
build/CMakeFiles/3.16.2/CompilerIdC/a.out
build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.2/CompilerIdCXX/a.out
build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/imblur.dir/main.cpp.o
